---
import slateConfig from "~@/slate.config";
import Avatar from "../Avatar/Avatar.astro";
import TrainWindow from "./TrainWindow.astro";

const {
  avatar = slateConfig.avatar!,
  avatarBack = slateConfig.avatarBack || slateConfig.avatar!
} = Astro.props;
---

<header class="header-container mb-9">
  <div class="avatar-wrapper">
    <Avatar
      frontSrc={avatar}
      backSrc={avatarBack}
      alt={slateConfig.title}
      size={56}
    />
  </div>

  <TrainWindow />
</header>

<style>
.header-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar-wrapper {
  flex-shrink: 0;
}
</style>