---
import slateConfig from '~@/slate.config';
import Avatar from '../Avatar/index.astro';

interface Props {
  avatar?: string;
  avatarBack?: string;
}

const { 
  avatar = slateConfig.avatar,
  avatarBack = slateConfig.avatarBack || slateConfig.avatar  // 如果没有背面，默认用正面
} = Astro.props;
---

<header>
  <a href="/" class="mb-9 block whitespace-nowrap text-[0px]">
    <Avatar 
      frontSrc={avatar}
      backSrc={avatarBack}
      alt={slateConfig.title}
      size={56}
    />
    <span class="ml-3 align-middle text-base font-medium text-slate12">{slateConfig.title}</span>
  </a>
</header>
