---
import trainSvg from "@/assets/train.svg?raw";
---

<div class="window">
  <div class="dennchuu" set:html={trainSvg}></div>
  <div class="curtain"></div>
</div>

<style>
.window{
  flex:1;
  height:150px;

  position:relative;

  background:#FDFCFA;
  border-radius:24px;

  overflow:hidden !important;
  background-clip:padding-box;
  -webkit-mask-image:-webkit-radial-gradient(white, black);

  border:1px solid rgba(0,0,0,.05);
  box-shadow:0 4px 20px rgba(0,0,0,.02);
}

..dennchuu {
  position: absolute;
  left: -2400px;
  
  /* 👇 修改这里：从 -75px 改为 0px 或 50px，让它往下移 */
  top: -35px; 
  
  width: 5000px;
  height: 5000px;
  animation: dennchuu 10s linear infinite;
}

.dennchuu :global(svg) {
  width: 100%;
  height: 100%;
  display: block;
  
  /* 👇 新增这一行：把图片往下挪，比如 40px 或 50px */
  /* 你可以微调这个数值，直到电线在窗口里居中 */
  margin-top: 45px; 
}

.curtain{
  position:absolute;
  inset:0;

  background:#1c1c1c;

  transform-origin:top;
  animation:curtain 2s ease-in-out forwards;
}

@keyframes dennchuu{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}

@keyframes curtain{
  0%{
    transform:scaleY(1);
  }

  100%{
    transform:scaleY(0);
  }
}
</style>